/* Empêche la sélection de texte sur toute la page */
* {
    user-select: none;
}

/* Styles généraux */
table {
    width: 100%;
}

body {
    background-color: #5a595c; /* Gris clair */
}

h1 {
    font-size: 30px;  /* Taille de police des titres */
    color: white;
}

p {
    font-size: 20px;  /* Taille de police des paragraphes */
    color: white;
}

/* Boutons généraux */
button {
    font-size: 26px;
    padding: 0 25px;
    background-color: rgb(176, 176, 176);
    color: black;
    border: 2px solid rgb(94, 94, 94);
}

/* Styles des scores */
#scoreRouge, #scoreVert {
    font-size: 50px;  /* Taille de police des scores */
    font-weight: bold; /* Gras pour mettre en valeur */
}

/* Cellules de scores */
.score-cell {
    text-align: center;
    padding: 10px;
}

/* Fond rouge pour le score du combattant Rouge */
.score-rouge {
    background-color: rgb(165, 23, 23);
    color: white; 
}

/* Fond vert pour le score du combattant Vert */
.score-vert {
    background-color: rgb(22, 93, 22);
    color: white;
}

/* Couleurs spécifiques des boutons de carton */
#cbt_rouge_carton_blanc, #cbt_vert_carton_blanc {
    background-color: white;
    color: black;
    border: 2px solid gray;
}

#cbt_rouge_carton_jaune, #cbt_vert_carton_jaune {
    background-color: yellow;
    color: black;
    border: 2px solid goldenrod;
}

#cbt_rouge_carton_rouge, #cbt_vert_carton_rouge {
    background-color: darkred;
    color: white;
    border: 2px solid crimson;
}

/* Gestion de l'historique */
.historique {
    font-size: 20px;
    color: white;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.ligne_historique_rouge {
    text-align: center;
    background-color: rgb(165, 23, 23);
    padding: 5px;
}

.ligne_historique_vert {
    text-align: center;
    background-color: rgb(22, 93, 22);
    padding: 5px;
}

.annuler {
    width: 50%;
    margin: auto;
    padding: 10px;
}
