{% extends 'base.html' %}

{% block head %}
    <title>Affichage des Scores</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arbitrage.css') }}">
    <script src="{{ url_for('static', filename='js/affichage.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Scores en Direct</h1>
    <div>
        <h2>Combattant Rouge : <span id="scoreRouge">0</span></h2>
        <h2>Combattant Vert : <span id="scoreVert">0</span></h2>
    </div>

    <script>
        const socket = io();

        socket.on('maj_affichage', (data) => {
            document.getElementById('scoreVert').innerText = data.combattant_Vert.score;
            document.getElementById('scoreRouge').innerText = data.combattant_Rouge.score;
        });

    </script>
{% endblock %}
