{% extends 'base.html' %}

{% block head %}
    <title>Affichage des Scores</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arbitrage.css') }}">
    <script src="{{ url_for('static', filename='js/affichage.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>[Arène #{{ arene.numero }}] Scores en Direct</h1>
    <div>
        <h2>Combattant Rouge : <span id="score_rouge">{{ arene.score['rouge'] }}</span></h2>
        <h2>Combattant Vert : <span id="score_vert">{{ arene.score['vert'] }}</span></h2>
    </div>
{% endblock %}
