{% extends 'base.html' %}

{% block head %}
	<title>Interface d'Arbitrage</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/arbitrage.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/chrono.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
	<script src="{{ url_for('static', filename='js/arbitrage.js') }}"></script>
{% endblock %}

{% block body_class %}arbitrage{% endblock %}
{% block body %}
<center>
	<h1 class="arena-title">Arene #{{ arene._id }}</h1>

	<div class="names-and-timer">
		<!-- Red Side -->
	    <div class="column red-side">
	        <!-- Score and Buttons -->
	        <div class="score-container">
	            <div class="score-label">
	            	{{ arene.combattants['rouge'].nom }}: <span id="score_rouge">{{ arene.score['rouge'] }}</span>
	        	</div>
	        	<div class="score-buttons">
                    <button data-arene="{{ arene._id }}" data-color="rouge" data-value="1" class="futuristic-button score-button">+1 pts</button>
                    <button data-arene="{{ arene._id }}" data-color="rouge" data-value="3" class="futuristic-button score-button">+3 pts</button>
                    <button data-arene="{{ arene._id }}" data-color="rouge" data-value="5" class="futuristic-button score-button">+5 pts</button>
                </div>
	        </div>
	        <!-- Action Buttons -->
	        <div class="action-container">
	            <div class="action">
	                <button data-arene="{{ arene._id }}" data-color="rouge" data-value="blanc" class="carton-button white" id="cbt_rouge_carton_blanc">{{ arene.cartons['rouge']['blanc'] }}</button>
	            </div>
	            <div class="action">
	                <button data-arene="{{ arene._id }}" data-color="rouge" data-value="jaune" class="carton-button yellow" id="cbt_rouge_carton_jaune">{{ arene.cartons['rouge']['jaune'] }}</button>
	            </div>
	            <div class="action">
	                <button data-arene="{{ arene._id }}" data-color="rouge" data-value="rouge" class="carton-button red" id="cbt_rouge_carton_rouge">{{ arene.cartons['rouge']['rouge'] }}</button>
	            </div>
	        </div>
	    </div>

		<div class="timer-container">
	        <!-- First Line: Plus, Timer Display, Minus -->
	        <div class="timer-row">
	            <button id="plus-button">+</button>
	            <div class="timer-display">
	                <div class="timer-value" id="timer-value">03:30</div>
	            </div>
	            <button id="minus-button">−</button>
	        </div>

	        <!-- Second Line: Start, Pause, Reset -->
	        <div class="timer-row controls">
	            <button id="start-button">Start</button>
	            <button id="pause-button">Pause</button>
	            <button id="reset-button">Reset</button>
	        </div>
	    </div>
		
		<!-- Green Side -->
	    <div class="column green-side">
	        <!-- Score and Buttons -->
	        <div class="score-container">
	            <div class="score-label">
	            	{{ arene.combattants['vert'].nom }}: <span id="score_vert">{{ arene.score['vert'] }}</span>
	            </div>
	            <div class="score-buttons">
                    <button data-arene="{{ arene._id }}" data-color="vert" data-value="1" class="futuristic-button score-button">+1 pts</button>
                    <button data-arene="{{ arene._id }}" data-color="vert" data-value="3" class="futuristic-button score-button">+3 pts</button>
                    <button data-arene="{{ arene._id }}" data-color="vert" data-value="5" class="futuristic-button score-button">+5 pts</button>
                </div>
	        </div>
	        <!-- Action Buttons -->
	        <div class="action-container">
	            <div class="action">
	                <button data-arene="{{ arene._id }}" data-color="vert" data-value="blanc" class="carton-button white" id="cbt_vert_carton_blanc">{{ arene.cartons['vert']['blanc'] }}</button>
	            </div>
	            <div class="action">
	                <button data-arene="{{ arene._id }}" data-color="vert" data-value="jaune" class="carton-button yellow" id="cbt_vert_carton_jaune">{{ arene.cartons['vert']['jaune'] }}</button>
	            </div>
	            <div class="action">
	                <button data-arene="{{ arene._id }}" data-color="vert" data-value="rouge" class="carton-button red" id="cbt_vert_carton_rouge">{{ arene.cartons['vert']['rouge'] }}</button>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="history">
	    <!-- Cancel Last Action Button -->
	    <div class="annuler" data-arene="{{ arene._id }}">
	        <button class="cancel-button">Annuler la dernière action</button>
	    </div>

	    <!-- Historical Actions List -->
	    <div id="actions-list">
	        {% for ligne in arene.historique[::-1] %}
	            <div class="history_line">
	                <span class="history-timestamp">{{ ligne[0] }}</span>
	                <span class="history-category {{ ligne[1] }}">{{ ligne[1] }}</span>: 
	                <span class="history-details">{{ ligne[2] }} {{ ligne[3] }}</span>
	            </div>
	        {% endfor %}
	    </div>
	</div>
</center>
{% endblock %}
