<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Interface d'Arbitrage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Arbitrage.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<center>
    <h1>Arene {{ num_arene }} </h1>
    <div>   

    <table>          
        <tr> 
            <td style="padding-right: 75px;"> <center><h1> {{combatant.Rouge.nom}}</h1> </center> </td> 
            <td> <center> <h1> {{combatant.Vert.nom}} </h1></center> </td>
        </tr>

        <tr>
            <td class="score-cell score-rouge"> 
                <p><center><h1 id="scoreRouge"> {{combatant.Rouge.score}} </h1></p> 
                <button id="buttonRouge1"> 1 point </button>
                <button id="buttonRouge3"> 3 points </button>
                <button id="buttonRouge5"> 5 points </button> </center></td>

            <td class="score-cell score-vert"> 
                <p><center><h1 id="scoreVert"> {{combatant.Vert.score}} </h1></p>
                <button id="buttonVert1"> 1 point </button>
                <button id="buttonVert3"> 3 points </button>
                <button id="buttonVert5"> 5 points </button> </center></td>
        </tr>


        <tr>
<td><center>
    <p>Cartons:<span id="cartons_cbt_Rouge">Blanc: {{combatant.Rouge.cartons_blanc}}, Jaune: {{combatant.Rouge.cartons_jaune}}, Rouge: {{combatant.Rouge.cartons_rouge}}</span> </p>
   <button id="cartonBlancRouge">Carton Blanc</button>
    <button id="cartonJauneRouge">Carton Jaune</button>
    <button id="cartonRougeRouge">Carton Rouge</button></center></td>


<td><center>
    <p>Cartons : <span id="cartons_cbt_Vert">Blanc: {{combatant.Vert.cartons_blanc}}, Jaune: {{combatant.Vert.cartons_jaune}}, Rouge: {{combatant.Vert.cartons_rouge}}</span> </p>
     <button id="cartonBlancVert">Carton Blanc</button>
     <button id="cartonJauneVert">Carton Jaune</button>
     <button id="cartonRougeVert">Carton Rouge</button></center></td>
        </tr>
    </table>
</center>
    </div>


</body>
</html>
