{% extends 'base.html' %}

{% block head %}
    <title>Bandeau Transparent</title>
    <!-- mettre dans une feuille de style dédiée -->
    <style>
        body {
            background-color: Transparent;
            color: black;
            font-size: 2em;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
{% endblock %}

{% block body %}
    <div>
        Combatant Rouge : <span id="scoreRouge">0</span> - Combatant Vert : <span id="scoreVert">0</span>
    </div>

    <!-- mettre dans un fichier js dédié -->
    <script>
        const socket = io();

        socket.on('maj_affichage', (data) => {
            document.getElementById('scoreRouge').innerText = data.Combatant_Rouge.score;
            document.getElementById('scoreVert').innerText = data.Combatant_Vert.score;
        });
    </script>
{% endblock %}
